html {
    background-image: url('../Img/img-background.jpg'); /* Use a relative path */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.hero  {
    background-color:#CF9FFF;
    border-radius: 10px;
}

#map-container {
    display: flex !important;
    justify-content: center;
    /* align-items: center; */
    margin-top: 10px;
    margin-left: 50px;
}
/* #map-section {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
} */
#input-container {
    margin-right:215px;
}
#input-container-2 {
    display: flex !important;
    justify-content: flex-end;
    /* align-items: center; */
    flex-direction: row;

}
#input-field {
    width: 150px;
    margin: 5px;
}

#search-history {
    display: flex;
    justify-content: flex-start;
    margin-top: -80px;
    margin-left: -98px;
}

#event-text{
    display: flex;
    justify-content: center;

}
/* map in middle history on top events in a row, input fields in row not recommended to have it overlay  */